<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">yellow</a>
		</div>
		<ul class="nav navbar-nav">
			<li class=<% if (page == 'index') { %>"active"<% } else { %>""<% }; %>><a href="/">Feed</a></li>
			<li class=<% if (page == 'users') { %>"active"<% } else { %>""<% }; %>><a href="/users">Users</a></li>
			<% if (req.isAuthenticated()) { %>
				<li><a href="/users/<%= req.user.local.username %>">My Profile</a></li>
			<% }; %>
		</ul>
		<% if (req.isAuthenticated()) { %>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/user/<%= req.user.local.username %>"><%= req.user.local.username %>
					<span class="glyphicon glyphicon-user"></span></a>
				</li>
				<li><a href="/settings">Settings <span class="glyphicon glyphicon-cog"></span></a></li>
				<li><a href="/logout">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
			</ul>
		<% } else { %>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login">Login/Register <span class="glyphicon glyphicon-log-in"></span></a></li>
			</ul>
		<% }; %>
	</div>
</nav>
