<!DOCTYPE html>
<%- include('./header') %>
<html>
    <body>
        <div class="container">

            <%- include('./navbar') %>

            <h1>Users</h1>

            <hr>

            <div class="list-group">
                <% users.forEach(function(item, index) { %>
                        <a href="/user/<%= users[index].local.username %>" class="list-group-item">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="">
                                <%= users[index].local.username %>
                            </span>
                        </a>
                    </span>
                <% }); %>
            </div>

        </div>
    </body>
</html>
<style>
    .black {
        color: black;
    }
</style>
